{% extends 'layout.html'%}
{% block content%}


<form>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">How much would you say you understand today's class</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
 
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reccomendations</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}